HELP.md
.gradle
!**/src/main/**/build/
!**/src/test/**/build/
/build/
!/app_service-0.0.1-SNAPSHOT.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
# Excepción para incluir el JAR en la raíz
!/app_service-0.0.1-SNAPSHOT.jar
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
